<!-- /*******************************************************************************
* Distributed Artificial Intelligence Laboratory TU Berlin.
* Wayfinding system (BACKEND & FRONTEND TEAM)
* All Rights Reserved.
********************************************************************************
* Filename    : app.vue
* Description : 
*
* History
*-------------------------------------------------------------------------------
* Date                       Name                    Description of Change
* 19.01.2023          Louis Ankel, Markus Thunig     Search Engine now in App.vue and Keyboard Implementation added 
* 01.02.2023          Adrian Brag, Markus Thunig     added reset Function
*
*-------------------------------------------------------------------------------
* Developers :  
                Louis Leon Ankel (@ltrou_7)
                Markus Thunig (@markust)
                Adrian Benjamin Brag (@adri.b.brag)
*******************************************************************************/ -->
<template>
      <div>
            <PhotoCarousel />
            <div id="textBox">
                  <div id="introductionText">
                        <p v-if="!languageEng && !showSearchBar">
                              Willkommen im ZEKI Labor.<br />
                              Dies ist das Wegleitesystem, es hilft Ihnen beim
                              finden der Räume. Tippen Sie einfach auf ihren
                              gewünschten Raum und die LEDs im Boden erleuchten
                              mit dem Weg zu Ihrem Raum.
                        </p>
                        <p v-else-if="!showSearchBar">
                              Welcome to ZEKI Labor. <br />
                              Thats the Wayfindingsystem, it will help you find
                              your room. Click on the matching Button and the
                              LED's in the floor will light up in the direction
                              that you'll have to go.
                        </p>
                  </div>
            </div>
            <UserButtons
                  :filteredButtonArray="buttonsToShowArray"
                  :language="languageEng"
                  @resetCall="reset"
            />

            <div v-show="showSearchBar">
                  <b-form-input
                        v-if="!languageEng"
                        id="inputBar"
                        placeholder="Suche deinen Raum"
                        :value="input"
                  />
                  <b-form-input
                        v-else
                        id="inputBar"
                        placeholder="Search your room"
                        :value="input"
                  />
                  <div id="keyboard-background">
                        <SimpleKeyboard
                              id="keyboard"
                              @onChange="onChange"
                              @filterArray="filterArray"
                              :input="input"
                        />
                  </div>
            </div>
            <NavBar
                  @showSearchBar="toggleSearchBar"
                  @changeLanguage="changeLanguage"
                  @resetCallNavBar="reset"
            />
      </div>
</template>

<script>
import UserButtons from "./components/UserButtons.vue";
import NavBar from "./components/NavBar.vue";
import PhotoCarousel from "./components/PhotoCarousel.vue";
import SimpleKeyboard from "./components/SimpleKeyboard.vue";

const buttonArray = [
                        "experienceHub",
                        "konferenzraum",
                        "conferenceRoom",
                        "managementBuero",
                        "managementOffice",
                        "focusSpace",
                        "designThinkingSpace",
                        "coWorkingSpace",
                        "lieferroboter",
                        "lieferroboterTeleoperator",
                        "deliveryTeleoperator",
                        "lieferroboterraum",
                        "deliveryRobotRoom",
                        "kueche",
                        "kitchen",
                        "technikraum",
                        "technicalRoom",
                        "wcUnisex",
                        "wcDamen",
                        "wcWoman",
                        "wcHerren",
                        "wcMen",
                        "klo",
                        "toilette",
                        "restroom",
                        "womantoilet",
                        "femaletoilet",
                        "womenstoilet",
                        "womensroom",
                        "mensroom",
                        "menstoilet",
                        "maletoilet",
                        "mantoilet",
                        "frauentoilette",
                        "damentoilette",
                        "frauenklo",
                        "herrentoilette",
                        "männertoilette",
                        "männerklo",
                  ]

export default {
      name: "App",
      components: {
            NavBar,
            UserButtons,
            PhotoCarousel,
            SimpleKeyboard,
      },
      data() {
            return {
                  input: "",
                  
                  buttonsToShowArray: buttonArray,
                  
                  showSearchBar: false,
                  languageEng: false,
            };
      },
      methods: {
            changeLanguage(eng) {
                  this.languageEng = eng;
            },
            toggleSearchBar(bool) {
                  this.showSearchBar = bool;
            },
            reset() {
                  this.buttonsToShowArray = buttonArray;
                  this.showSearchBar = false;
                  this.languageEng = false;
                  this.$root.$emit("resetSearchBar");
                  this.$root.$emit("resetNavBar");
                  this.input = "";
            },
            onChange(input) {
                  this.input = input;
            },

            filterArray() {
                  let searchEngine = buttonArray;

                  let arrayInUse = searchEngine;
                  let pattern = this.input;
                  if (pattern.length > 0) {
                        arrayInUse = arrayInUse.filter(function (str) {
                              return str
                                    .toLowerCase()
                                    .includes(pattern.toLowerCase());
                        });
                  }
                  this.buttonsToShowArray = arrayInUse;
            },
      },
};
</script>

<style>
html {
      height: 100%;
}
body {
      background-image: url("./assets/background_cut2.png");
      margin: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden; /*hides scrollbar*/
}

/* -------------------------Keyboard + InputBar Position and Styling------------------------- */
#keyboard {
      position: fixed;
      bottom: 7%;
      width: 80%;
      margin: auto;
      left: 0;
      right: 0;
      
}
#inputBar {
      position: fixed;
      bottom: 20%;
      width: 70%;
      margin: auto;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 2;
}

#keyboard-background {
      position: absolute;
      min-height: 18%;
      margin: auto;
      left: 0;
      right: 0;
      border-radius: 13px 13px 13px 13px;
      width: 85%;
      z-index: 1;
      bottom: 5.5%;
      background-color: #212529;
      opacity: 0.8;
}
/* ---------------------------------------------------------------------*/

#introductionText {
      font-size: 1.3em;
      width: 100%;
      margin: auto;
      font-weight: bold;
      text-align: center;
      color: rgb(230, 231, 231);
}

#textBox {
      margin: auto;
      margin-top: 1.5em;
      width: 70%;
      opacity: 100%;
}
</style>
