<!-- /*******************************************************************************
* Distributed Artificial Intelligence Laboratory TU Berlin.
* Wayfinding system (BACKEND & FRONTEND TEAM)
* All Rights Reserved.
********************************************************************************
* Filename    : NavBar.vue
* Description : Segment which shows NavBar in App.vue.
*
* History
*-------------------------------------------------------------------------------
* Date                       Name                    Description of Change
* 25.11.2022                 Adrian Brag             Added NavBar
* 23.01.2023                 Markus Thunig           Moved NavBar to bottom, added Language Buttons
* 31.01.2023                 Adrian Brag             Added Reset Function called from App
*
*
*-------------------------------------------------------------------------------
* Developers :  
                Louis Leon Ankel (@ltrou_7)
                Markus Thunig (@markust)
                Adrian Benjamin Brag (@adri.b.brag)
*******************************************************************************/ -->

<template>
      <div>
            <b-navbar class="navbar" type="dark" variant="dark" fixed="bottom">
                  <!--
                        TODO:  
                        BACKEND FRAGEN INIT GEBRAUCHT -->
                  <b-navbar-brand                     
                              id="zekiLogo"
                              href="#"
                              @click="init()"
                        >
                        <img src="../assets/ZEKI-Logo.png" height="70" />
                  </b-navbar-brand>
                  <b-navbar-nav>
                        <b-navbar-brand
                              class="navbarLeftItem"
                              href="#"
                              @click="hideSearchBar(), resetCallNavBar()"
                        >
                              Home
                        </b-navbar-brand>
                        <b-navbar-brand
                              class="navbarLeftItem"
                              href="#"
                              @click="showSearchBar()"
                        >
                              {{
                                    languageEN
                                          ? languageArray[0].nameENG
                                          : languageArray[0].nameDE
                              }}
                        </b-navbar-brand>
                        <b-navbar-brand
                              class="navbarLeftItem"
                              href="#"
                              @click="showModalGroundPlan()"
                        >
                              {{
                                    languageEN
                                          ? languageArray[1].nameENG
                                          : languageArray[1].nameDE
                              }}
                        </b-navbar-brand>
                        <b-nav-item
                              class="navbarLeftHelp"
                              href="#"
                              @click="showModalHelp()"
                        >
                              <img
                                    src="../assets/help_filled.png"
                                    height="30"
                              />
                        </b-nav-item>

                  </b-navbar-nav>
                  <b-navbar-nav class="ms-auto">
                        <b-navbar-brand
                              v-if="!languageEN"
                              href="#"
                              @click="changeLanguageEng()"
                        >
                              <img
                                    src="../assets/language_icon_white.png"
                                    height="30"
                              />
                              EN
                        </b-navbar-brand>
                        <b-navbar-brand
                              v-else
                              href="#"
                              @click="changeLanguageDe()"
                        >
                              <img
                                    src="../assets/language_icon_white.png"
                                    height="30"
                              />
                              DE
                        </b-navbar-brand>
                  </b-navbar-nav>
            </b-navbar>

            <!-- Groundplan modal -->
            <b-modal
                  id="ModalGroundPlan"
                  centered
                  no-close-on-esc
                  hide-footer
                  hide-header
                  default="true"
                  size="lg"
            >
                  <div>
                        <img
                              src="../assets/ZEKI-Wegfotos/overview.png"
                              width="770"
                        />
                  </div>
                  <b-button
                        class="mt-3"
                        centered
                        variant="info"
                        size="lg"
                        @click="hideModalGroundPlan()"
                        >{{ !languageEN ? 'Schließen' : 'close' }}</b-button
                  >
            </b-modal>

            <!-- Help modal -->
            <b-modal
                  id="ModalHelp"
                  centered
                  no-close-on-esc
                  hide-footer
                  hide-header
                  size="lg"
            >
                  <div class="d-block text-center">
                        <div id="erklärungsText" v-if="!languageEN">
                              <h2>HILFE</h2>
                              <br />
                              <h3>
                                    Dies ist das Wegleitesystem, es hilft Ihnen
                                    beim finden der Räume. Tippen Sie einfach
                                    auf ihren gewünschten Raum und die LEDs im
                                    Boden erleuchten den Weg zu Ihrem Raum.
                              </h3>
                              <br />
                              <br />
                              <br />
                              Mit <b>Home</b> können Sie die Seite zum Anfang
                              zurücksetzen. <br /><br />
                              Mit <b>Suche</b> können Sie einen Raum suchen
                              (bspw. Experience Hub).<br />
                              <br />
                              Mit <b>Grundriss</b> sehen Sie den Grundriss und
                              können sich einen Überblick verschaffen, falls die
                              LED's Ihnen nicht weiterhelfen.
                        </div>

                        <div id="explanationText" v-else>
                              <h2>HELP</h2>
                              <br />
                              <h3>
                                    Thats the Wayfindingsystem, it will help you
                                    find your room. Click on the matching Button
                                    and the LED's in the floor will light up in
                                    the direction that you'll have to go.
                              </h3>
                              <br />
                              <br />
                              <br />
                              With <b>Home</b> you're gonna reset the page.
                              <br /><br />
                              With <b>Search</b> you can look up a room (e.g.
                              Experience Hub).<br />
                              <br />
                              With <b>Layout</b> you're gonna see the ground
                              plan and can find the rooms if the LED's are not
                              working.
                        </div>
                  </div>
                  <b-button
                        class="mt-3"
                        centered
                        variant="info"
                        size="lg"
                        @click="hideModalHelp()"
                        >{{ !languageEN ? 'Schließen' : 'close' }}</b-button
                  >
            </b-modal>
      </div>
</template>

<script>
import { init } from './backend/backend_logic.js';
export default {
      name: 'NavBar',
      data() {
            return {
                  languageEN: false,
                  languageArray: [
                        {
                              nameDE: 'Suche',
                              nameENG: 'Search',
                        },
                        {
                              nameDE: 'Grundriss',
                              nameENG: 'Layout',
                        },
                  ],
                  statusSearchBar: false
            };
      },
      components: {},
      methods: {
            showSearchBar() {
                  this.$emit('showSearchBar', !this.statusSearchBar);
                  this.statusSearchBar = !this.statusSearchBar;
            },
            hideSearchBar() {
                  this.$emit('showSearchBar', false);
            },
            showModalGroundPlan() {
                  this.$bvModal.show('ModalGroundPlan');
            },
            hideModalGroundPlan() {
                  this.$bvModal.hide('ModalGroundPlan');
            },
            showModalHelp() {
                  this.$bvModal.show('ModalHelp');
            },
            hideModalHelp() {
                  this.$bvModal.hide('ModalHelp');
            },
            changeLanguageEng() {
                  this.languageEN = true;
                  this.$emit('changeLanguage', true);
            },
            changeLanguageDe() {
                  this.languageEN = false;
                  this.$emit('changeLanguage', false);
            },
            resetLanguage() {
                  this.languageEN = false;
            },
            resetCallNavBar() {
                  this.$emit('resetCallNavBar');
            },
            init

      },
      mounted() {
            this.$root.$on('resetNavBar', this.resetLanguage);
      },
};
</script>

<style>
.navbarLeftItem {
      color: white;
      font-size: x-large;
      margin-top: 0.3em;
      margin-right: 0.7em;
}
.navbarLeftHelp {
      font-size: 1.3em;
      margin-right: 0.7em;
}
.navbarLeftUser {
      font-size: 1.3em;
      margin-right: -1em;
}
.lang {
      margin-top: 2em;
}

#erklärungsText,
#explanationText {
      text-align: center;
      font-size: 1.3em;
      margin-bottom: 1.2em;
}

#zekiLogo {
      margin-right: 20px;
}
</style>


<!-- 

******** Comments for later Use **********

Three figures (capacity) inside Navbar: 
Template: 
                        <div v-for="n in activeUser" :key="n">
                              <b-nav-item
                                    class="navbarLeftUser"
                                    :id="n"
                                    href="#"
                              >
                                    <img
                                          src="../assets/person_filled.png"
                                          height="30"
                                    />
                              </b-nav-item>
                        </div> 
                        <div v-for="n in (3 - activeUser)" :key="n">
                              <b-nav-item class="navbarLeftUser" href="#">
                                    <img
                                          src="../assets/person_outline.png"
                                          height="30"
                                    />
                              </b-nav-item>
                        </div> 

Text fürs Hilfe-Modal:

                         <br />
                              <br />
                              Die <b>drei Figuren</b> in der Leiste am unteren
                              Bildschirmrand geben an wie viele Nutzer das
                              System gerade bearbeitet. Ausgefüllte Figuren
                              entsprechen dabei aktiven Nutzern, während leere
                              Figuren freie Kapazitäten anzeigen.

                              <br />
                              <br />
                              The <b>three figures</b> down at the navigation
                              bar shows you the user capacity of the system. A
                              filled figure represents an active user, just the
                              outline represents a free user.
-->
