<!-- /*******************************************************************************
* Distributed Artificial Intelligence Laboratory TU Berlin.
* Wayfinding system (BACKEND & FRONTEND TEAM)
* All Rights Reserved.
********************************************************************************
* Filename    : UserButtons.vue
* Description : Contains all Buttons User can Interact with. Includes Function Logic aswell
*
* History
*-------------------------------------------------------------------------------
* Date                       Name                           Description of Change
* 02.12.2022                 Markus Thunig                  implemented Modals
* 08.12.2022           Adrian Brag, Louis Ankel             implemented MultiLanguage
* 22.08.2022                 Adrian Brag                    Add FlexboxLayout in UserButtons and Animation and Border on each Button
* 01.02.2023    Adrian Brag, Louis Ankel, Markus Thunig     added extra modal with timer + reset function
* 09.02.2023                 Adrian Brag                    Send User to Frontend
* 17.02.2023    Adrian Brag, Louis Ankel, Markus Thunig     colored photos if you press button   
* 
*
*
*
*-------------------------------------------------------------------------------
* Developers :  Alireza Safdari (@mhsafdari)
                Yannic Stoer (@yannicstoer)
                Louis Leon Ankel (@ltrou_7)
                Markus Thunig (@markust)
                Adrian Benjamin Brag (@adri.b.brag)
*******************************************************************************/ -->
<template>
      <div class="maincontainer">
            <b-list-group id="workingSpaceContainer">
                  <b-list-group-item id="workingSpaceGroup">
                        <div>
                              <h5>
                                    {{
                                          !language
                                                ? "Working-Spaces"
                                                : "Working-Spaces"
                                    }}
                              </h5>
                        </div>

                        <div class="flex-wrapper">
                              <b-button
                                    type="button"
                                    id="ExperienceHub"
                                    variant="info"
                                    class="button"
                                    @click="
                                          showModalClick($event);
                                          setIDName(0);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'experienceHub'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[0].nameEng
                                                : buttonNames[0].nameDe
                                    }}
                              </b-button>

                              <b-button
                                    type="button"
                                    id="Konferenzraum"
                                    variant="info"
                                    class="button"
                                    @click="
                                          showModalClick($event);
                                          setIDName(1);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'konferenzraum'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'conferenceRoom'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[1].nameEng
                                                : buttonNames[1].nameDe
                                    }}
                              </b-button>

                              <b-button
                                    type="button"
                                    id="Management-Büro"
                                    variant="info"
                                    class="button"
                                    @click="
                                          showModalClick($event);
                                          setIDName(2);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'managementBuero'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'managementOffice'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[2].nameEng
                                                : buttonNames[2].nameDe
                                    }}
                              </b-button>
                        </div>
                        <div class="flex-wrapper">
                              <b-button
                                    type="button"
                                    id="Focus-Space"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(3);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'focusSpace'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[3].nameEng
                                                : buttonNames[3].nameDe
                                    }}
                              </b-button>
                              <b-button
                                    type="button"
                                    id="Design-Thinking-Space"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(4);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'designThinkingSpace'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[4].nameEng
                                                : buttonNames[4].nameDe
                                    }}
                              </b-button>
                              <b-button
                                    type="button"
                                    id="Co-Working-Space"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(5);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'coWorkingSpace'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[5].nameEng
                                                : buttonNames[5].nameDe
                                    }}
                              </b-button>
                        </div>
                  </b-list-group-item>
            </b-list-group>

            <b-list-group id="LieferroboterContainer">
                  <b-list-group-item id="LieferroboterGroup">
                        <div>
                              <h5>
                                    {{
                                          !language
                                                ? "Lieferroboter"
                                                : "Delivery Robot Rooms"
                                    }}
                              </h5>
                        </div>
                        <div class="flex-wrapper">
                              <b-button
                                    type="button"
                                    id="Lieferroboter-Teleoperator"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(6);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'lieferroboterTeleoperator'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'deliveryTeleoperator'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[6].nameEng
                                                : buttonNames[6].nameDe
                                    }}
                              </b-button>
                              <b-button
                                    type="button"
                                    id="Lieferroboterraum"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(7);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'lieferroboterraum'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'deliveryRobotRoom'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[7].nameEng
                                                : buttonNames[7].nameDe
                                    }}
                              </b-button>
                        </div>
                  </b-list-group-item>
            </b-list-group>
            <b-list-group id="WC-Container">
                  <b-list-group-item id="WC-Group">
                        <div>
                              <h5>{{ !language ? "WC" : "WC" }}</h5>
                        </div>
                        <div class="flex-wrapper">
                              <b-button
                                    type="button"
                                    id="WC-Damen"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(8);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'wcDamen'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'frauentoilette'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'damentoilette'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'frauenklo'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'wcWoman'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'toilette'
                                          ) ||
                                          filteredButtonArray.includes('klo') ||
                                          filteredButtonArray.includes(
                                                'restroom'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'womensroom'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'womenstoilet'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'femaletoilet'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'womantoilet'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[8].nameEng
                                                : buttonNames[8].nameDe
                                    }}
                              </b-button>
                              <b-button
                                    type="button"
                                    id="WC-Herren"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(9);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'wcHerren'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'wcMen'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'herrentoilette'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'männertoilette'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'männerklo'
                                          ) ||
                                          filteredButtonArray.includes('klo') ||
                                          filteredButtonArray.includes(
                                                'toilette'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'restroom'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'mens room'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'menstoilet'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'maletoilet'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'mantoilet'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[9].nameEng
                                                : buttonNames[9].nameDe
                                    }}
                              </b-button>

                              <b-button
                                    type="button"
                                    id="WC-Unisex"
                                    class="button"
                                    variant="info"
                                    @click="
                                          showModalClick($event);
                                          setIDName(10);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'wcUnisex'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'toilette'
                                          ) ||
                                          filteredButtonArray.includes('klo') ||
                                          filteredButtonArray.includes(
                                                'restroom'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[10].nameEng
                                                : buttonNames[10].nameDe
                                    }}
                              </b-button>
                        </div>
                  </b-list-group-item>
            </b-list-group>

            <b-list-group id="AndereContainer">
                  <b-list-group-item id="AndereGroup">
                        <div>
                              <h5>{{ !language ? "Andere" : "Others" }}</h5>
                        </div>
                        <div class="flex-wrapper">
                              <b-button
                                    type="button"
                                    id="Küche"
                                    variant="info"
                                    class="button"
                                    @click="
                                          showModalClick($event);
                                          setIDName(11);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'kueche'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'kitchen'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[11].nameEng
                                                : buttonNames[11].nameDe
                                    }}
                              </b-button>

                              <b-button
                                    type="button"
                                    id="Technikraum"
                                    variant="info"
                                    class="button"
                                    @click="
                                          showModalClick($event);
                                          setIDName(12);
                                    "
                                    v-if="
                                          filteredButtonArray.includes(
                                                'technikraum'
                                          ) ||
                                          filteredButtonArray.includes(
                                                'technicalRoom'
                                          )
                                    "
                              >
                                    {{
                                          language
                                                ? buttonNames[12].nameEng
                                                : buttonNames[12].nameDe
                                    }}
                              </b-button>
                        </div>
                  </b-list-group-item>
            </b-list-group>

            <b-modal
                  id="modalClick"
                  centered
                  no-close-on-backdrop
                  no-close-on-esc
                  hide-header
                  hide-footer
            >
                  <div class="d-block text-center">
                        <div class="d-block text-center" v-if="!language">
                              <h4>
                                    Drücken sie den 'Start'-Knopf um die
                                    Wegführung zum Raum <b>{{ IDName }}</b> zu
                                    starten.
                              </h4>
                        </div>
                        <div class="d-block text-center" v-else-if="language">
                              <h4>
                                    Press the 'start' button to start the
                                    routing to the room <b>{{ IDName }}</b
                                    >.
                              </h4>
                        </div>
                  </div>
                  <div class="modal-body">
                        <div :hidden="!timerEnabled">
                              {{
                                    language
                                          ? "Please wait " +
                                            timerCount +
                                            " seconds"
                                          : "Bitte warten Sie " +
                                            timerCount +
                                            " Sekunden"
                              }}
                        </div>
                        <b-container class="text-center">
                              <b-row align-h="between">
                                    <b-col cols="4"
                                          ><b-button
                                                class="mt-3"
                                                id="modal-cancel-button"
                                                centered
                                                size="lg"
                                                @click="
                                                      hideModalClick(), reset()
                                                "
                                          >
                                                {{
                                                      !language
                                                            ? "Abbrechen"
                                                            : "cancel"
                                                }}
                                          </b-button></b-col
                                    >
                                    <b-col cols="4"
                                          ><b-button
                                                v-show="!timerEnabled"
                                                class="mt-3"
                                                id="modal-start-button"
                                                centered
                                                variant="info"
                                                size="lg"
                                                @click="
                                                      startBackend(),
                                                            countDownTimer(),
                                                            hideModalClick(),
                                                            showModalStarted()
                                                "
                                          >
                                                {{
                                                      !language
                                                            ? "Starten"
                                                            : "start"
                                                }}
                                          </b-button></b-col
                                    >
                              </b-row>
                        </b-container>
                  </div>
            </b-modal>
            <b-modal
                  id="modalStarted"
                  centered
                  no-close-on-backdrop
                  no-close-on-esc
                  hide-header
                  hide-footer
                  fade
            >
                  <div class="d-block text-center">
                        <div class="d-block text-center" v-if="!language">
                              <h4>Ihre Auswahl: {{ IDName }}</h4>
                              <h4>Ihre Farbe: {{ color }}</h4>
                        </div>
                        <div class="d-block text-center" v-if="language">
                              <h4>Your choice: {{ IDName }}</h4>
                              <h4>Your color: {{ color }}</h4>
                        </div>
                  </div>
                  <div>
                        <b-img :src="imagePath" fluid></b-img>
                        <div
                              class="d-block text-center"
                              v-if="timerEnabled && !language"
                        >
                              <h5>
                                    Folgen Sie nun den Leuchtstreifen ihrer
                                    Farbe auf dem Boden.
                              </h5>
                        </div>
                        <div
                              class="d-block text-center"
                              v-else-if="timerEnabled && language"
                        >
                              <h5>
                                    Now follow the light stripes of your color
                                    on the floor.
                              </h5>
                        </div>
                  </div>
                  <div :hidden="!timerEnabled">
                        {{
                              language
                                    ? "Widget closes in " +
                                      timerCount +
                                      " seconds"
                                    : "Widget schließt sich in " +
                                      timerCount +
                                      " Sekunden"
                        }}
                  </div>
            </b-modal>
            <b-modal
                  id="waitModal"
                  centered
                  no-close-on-backdrop
                  no-close-on-esc
                  hide-header
                  hide-footer
                  fade
                  size="lg"
            >
                  <div>
                        <div class="d-block text-center" v-if="!language">
                              <h4>
                                    Aktuell gibt es keine freien
                                    Nutzerkapazitäten. <br />Das System
                                    unterstützt 3 gleichzeitige Nutzer.<br /><br />
                                    Bitte warten Sie einige Sekunden. Dieses
                                    Fenster schließt sich automatisch, wenn
                                    wieder Kapazität frei ist.
                              </h4>
                        </div>
                        <div class="d-block text-center" v-else-if="language">
                              <h4>
                                    The Systems capacity is fully used, since it
                                    only supports 3 Users at a time.<br /><br />
                                    Please wait a few seconds. <br />This
                                    Message will close automatically when the
                                    system is ready.
                              </h4>
                        </div>
                  </div>
            </b-modal>
      </div>
</template>

<script>
import { init } from "events";
import {
      ExperienceHub,
      Konferenzraum,
      ManagementBeuro,
      FocusSpace,
      DesignThinkingSpace,
      CoWorkingSpace,
      LieferroboterTeleoperator,
      Lieferroboterraum,
      WCHerren,
      WCFrauen,
      Kueche,
      WCUnisex,
      Technikraum,
      bus,
} from "./backend/backend_logic.js";

const timer = 5;

export default {
      name: "UserButtons",
      data() {
            return {
                  timerEnabled: false,
                  timerCount: timer,
                  IDName: "",
                  buttonID: "",
                  color: "",
                  colorForImgPath: "",
                  imagePath: "",
                  currentUsers: 0,
                  blockSystem: false,

                  buttonNames: [
                        {
                              nameDe: "Experience Hub",
                              nameEng: "Experience Hub",
                              id: "Experience Hub",
                        },
                        {
                              nameDe: "Konferenzraum",
                              nameEng: "Conference Room",
                              id: "Konferenzraum",
                        },
                        {
                              nameDe: "Management-Büro",
                              nameEng: "Management Office",
                              id: "Management-Büro",
                        },
                        {
                              nameDe: "Focus-Space",
                              nameEng: "Focus Space",
                              id: "Focus-Space",
                        },
                        {
                              nameDe: "Design-Thinking-Space",
                              nameEng: "Design Thinking Space",
                              id: "Design-Thinking-Space",
                        },
                        {
                              nameDe: "Co-Working-Space",
                              nameEng: "Co Working Space",
                              id: "Co-Working-Space",
                        },
                        {
                              nameDe: "Lieferroboter-Teleoperator",
                              nameEng: "Delivery Teleoperator",
                              id: "Lieferroboter-Teleoperator",
                        },
                        {
                              nameDe: "Lieferroboterraum",
                              nameEng: "Delivery Robot Room",
                              id: "Lieferroboterraum",
                        },
                        {
                              nameDe: "WC-Damen",
                              nameEng: "WC Women",
                              id: "WC-Damen",
                        },
                        {
                              nameDe: "WC-Herren",
                              nameEng: "WC Men",
                              id: "WC-Herren",
                        },
                        {
                              nameDe: "WC-Unisex",
                              nameEng: "WC Unisex",
                              id: "WC-Unisex",
                        },
                        {
                              nameDe: "Küche",
                              nameEng: "Kitchen",
                              id: "Küche",
                        },
                        {
                              nameDe: "Technikraum",
                              nameEng: "Technical Room",
                              id: "Technikraum",
                        },
                  ],
            };
      },
      components: {},
      props: {
            filteredButtonArray: {
                  type: Array,
                  required: true,
            },

            language: {
                  type: Boolean, //true == english
                  default: false,
            },
      },
      mounted() {
            bus.on("currentUsersChange", this.setCurrentUsers); //adds Eventlistener
            bus.on("userCapacity", this.blockSystemSwitch);
            init();
      },
      beforeUnmount() {
            bus.off("currentUsersChange", this.setCurrentUsers); //for cleanUp
            bus.off("userCapacity", this.blockSystemSwitch);
      },
      methods: {
            changeColorFromCurrentUser() {
                  switch (this.currentUsers) {
                        case 0:
                              this.colorForImgPath = "white";
                              break;
                        case 1:
                              this.colorForImgPath = "red";
                              break;
                        case 2:
                              this.colorForImgPath = "green";
                              break;
                  }
            },
            blockSystemSwitch(value) {
                  this.blockSystem = value;
            },
            setCurrentUsers(value) {
                  if (value == -1) {
                        this.hideWaitModal();
                        return;
                  }

                  this.currentUsers = value;
                  this.changeColorFromCurrentUser();
            },
            countDownTimer() {
                  if (this.timerCount > 0) {
                        this.timerEnabled = true;
                        setTimeout(() => {
                              this.timerCount -= 1;
                              this.countDownTimer();
                        }, 1000);
                  } else {
                        this.timerEnabled = false;
                        this.timerCount = timer;
                        this.$emit("resetCall");
                        return;
                  }
            },
            setIDName(button) {
                  return this.language
                        ? (this.IDName = this.buttonNames[button].nameEng)
                        : (this.IDName = this.buttonNames[button].nameDe);
            },
            showModalClick(buttonID) {
                  if (this.blockSystem) {
                        this.$bvModal.show("waitModal");
                  } else {
                        this.buttonID = buttonID.target.id;
                        this.$bvModal.show("modalClick");
                  }
            },
            showModalStarted() {
                  this.color = this.whichColor();
                  this.imagePath = require("../assets/ZEKI-Wegfotos/" +
                        this.buttonID +
                        "_" +
                        this.colorForImgPath +
                        ".png");
                  this.$bvModal.show("modalStarted");
                  setTimeout(() => {
                        this.hideModalStarted();
                        this.reset();
                  }, 1000 * this.timerCount);
            },
            hideModalClick() {
                  this.$bvModal.hide("modalClick");
            },
            hideModalStarted() {
                  this.$bvModal.hide("modalStarted");
            },
            hideWaitModal() {
                  this.$bvModal.hide("waitModal");
            },
            reset() {
                  this.imagePath = "";
                  this.color = "";
                  this.IDName = "";
            },
            whichColor() {
                  switch (this.currentUsers) {
                        case 0:
                              return this.language ? "white" : "weiß";
                        case 1:
                              return this.language ? "red" : "rot";
                        case 2:
                              return this.language ? "green" : "grün";
                        default:
                              return "error";
                  }
            },
            startBackend() {
                  switch (this.IDName) {
                        case this.buttonNames[0].nameDe:
                        case this.buttonNames[0].nameEng:
                              ExperienceHub();
                              break;
                        case this.buttonNames[1].nameDe:
                        case this.buttonNames[1].nameEng:
                              Konferenzraum();
                              break;
                        case this.buttonNames[2].nameDe:
                        case this.buttonNames[2].nameEng:
                              ManagementBeuro();
                              break;
                        case this.buttonNames[3].nameDe:
                        case this.buttonNames[3].nameEng:
                              FocusSpace();
                              break;
                        case this.buttonNames[4].nameDe:
                        case this.buttonNames[4].nameEng:
                              DesignThinkingSpace();
                              break;
                        case this.buttonNames[5].nameDe:
                        case this.buttonNames[5].nameEng:
                              CoWorkingSpace();
                              break;
                        case this.buttonNames[6].nameDe:
                        case this.buttonNames[6].nameEng:
                              LieferroboterTeleoperator();
                              break;
                        case this.buttonNames[7].nameDe:
                        case this.buttonNames[7].nameEng:
                              Lieferroboterraum();
                              break;
                        case this.buttonNames[8].nameDe:
                        case this.buttonNames[8].nameEng:
                              WCFrauen();
                              break;
                        case this.buttonNames[9].nameDe:
                        case this.buttonNames[9].nameEng:
                              WCHerren();
                              break;
                        case this.buttonNames[10].nameDe:
                        case this.buttonNames[10].nameEng:
                              WCUnisex();
                              break;
                        case this.buttonNames[11].nameDe:
                        case this.buttonNames[11].nameEng:
                              Kueche();
                              break;
                        case this.buttonNames[12].nameDe:
                        case this.buttonNames[12].nameEng:
                              Technikraum();
                              break;
                        default:
                              return;
                  }
            },
            ExperienceHub,
            Konferenzraum,
            ManagementBeuro,
            FocusSpace,
            DesignThinkingSpace,
            CoWorkingSpace,
            LieferroboterTeleoperator,
            Lieferroboterraum,
            WCHerren,
            WCFrauen,
            Kueche,
            Technikraum,
            WCUnisex,
      },
};
</script>

<style>
/* ------------------Position Site + Content in Flexbox + color/visual control of Buttons--------------*/

.maincontainer {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
}

.button {
      height: 7.4em;
      margin: 0.5em;
}

.flex-wrapper {
      display: flex;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Space Container */
#workingSpaceContainer,
#LieferroboterContainer,
#WC-Container,
#AndereContainer {
      margin: 1em 3.6em;
}

#workingSpaceContainer {
      margin-top: 1.5em;
}

/* ------------------- */

#workingSpaceGroup,
#LieferroboterGroup,
#WC-Group,
#AndereGroup {
      background-color: rgb(230, 231, 231);
      border-radius: 15px;
}

/* Make Buttons Round && stretch to 100% of their column-space*/

#ExperienceHub,
#Design-Thinking-Space,
#Focus-Space,
#Management-Büro,
#Konferenzraum,
#Co-Working-Space,
#Lieferroboter-Teleoperator,
#Lieferroboterraum,
#WC-Herren,
#WC-Damen,
#WC-Unisex,
#Küche,
#Technikraum {
      border-radius: 13px;
      border: 0.2em solid rgb(2, 159, 173);
      box-shadow: 2px 3px 4px rgb(182, 181, 181);

      background-color: #00bfc6;
      width: 100%;
}

/* -------------------------Buttons-Animation-Effect------------------------- */

.button {
      position: relative;
      border-radius: 1em;
      user-select: none;
      text-align: center;
      text-decoration: none;
      transition-duration: 0.4s;
}

.button:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 1em;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 5px 25px rgb(13, 202, 240);
}

.button:active:after {
      box-shadow: 0 0 0 0 rgb(13, 202, 240);
      position: absolute;
      border-radius: 1em;
      left: 0;
      top: 0;
      opacity: 1;
      transition: 0s;
}

.button:active {
      top: 3px;
}

/* ---------------------------------------------------------------------------------------------------- */
</style>
